<p-panel>
  <img src="../../../assets/images/logo-pizzabor.png" alt="Logo PizzaBor" id="img-pizza">
  <br />
  <h2>Sobre o PizzaBor</h2>
  <p>A Pizzaria que vai trazer o sabor irresistível da verdadeira pizza italiana.</p>
  <p>Encontre o seu sabor preferido em nosso cardápio e entre em contato conosco.</p>
  <u>No PizzaBor Temos Variedades:</u>
  <ul>
    <li>Pizzas Salgadas</li>
    <li>Pizzas Doces</li>
    <li>Massas</li>
    <li>Bebidas</li>
  </ul>
  <ng-template pTemplate="footer">
    Faça Seu Pedido... Ligue!!! Nós atendemos e anotamos o seu pedido.
    <p>Telefone: (41) 3420-1583 | Celular: (41) 99935-4536</p>
  </ng-template>
</p-panel>
