<p-card
  *ngFor="let produto of (produtos$ | async)"
  [style]="{width: '300px', height: '550px'}"
  styleClass="p-card-shadow"
>
  <h3 title="{{ produto.nome }}">{{ produto.nome }}</h3>
  <ng-template pTemplate="header">
    <div class="flex justify-content-end carrinho">
      <button pButton type="button" icon="pi pi-shopping-cart" class="p-button-raised p-button-rounded" (click)="carrinhoCompras()"></button>
    </div>
    <img
      [attr.alt]="produto.descricao"
      src="{{ produto.imagem }}"
    />
  </ng-template>
  <p class="descricao" title="{{ produto.descricao }}">
    {{ produto.descricao }}
  </p>
  <ng-template pTemplate="footer">
    <p-tag severity="primary">
      {{ produto.categoria | replaceCategoria }}
    </p-tag>
    <p-tag severity="info" >
      {{ produto.tamanho }}
    </p-tag>
    <p-tag severity="warning">
      {{ produto.preco | currency: 'BRL' }}
    </p-tag>
  </ng-template>
</p-card>
